html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.root_box {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.site-title {
    margin: 0;
    padding: 1em;

    color:#444;
    background-color: #FFF;
    text-decoration:none;
    font-size:2em;
    text-align:center;
    border: none;
    letter-spacing:1em;
}

.navibar {
    margin: 0;
    padding: 0;
    height: 1.2em;

    text-align:center;
    background-color: #EEE;
    letter-spacing:0.3em;
}

.navitem {
    color: #888;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    padding: 0 0.2em;
}
.navitem:hover {
    color: #4fa1db;
}

.page_box {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc( 100% - 6em - 2em );
}

.messageline {
    color: red;
}



.editer_action {
    margin: 0 2px;
    padding: 6px 16px;
    color: rgba(242, 246, 238, 1);
    background: rgba(104, 159,56,1) linear-gradient(rgba(139,195,74,1), rgba(104,159,56,1));
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.editor_box {
    display: flex;
	flex-direction: row;

    width: 100%;
    height: calc( 100% - 6em - 2em );
}

.editarea {
    border: 1px solid #666;

    width: 50%;
    height: 100%;
    padding: 0;
}
.editarea textarea {
    width: 100%;
    height: 100%;
    margin: 0;
}

.previewarea {
    border: 1px solid #666;
    background-color: #FFA;

    width: 50%;
    height: 100%;

    overflow: scroll;
}


